body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f5f5f5;
    color: #333;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

section {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

h2 {
    color: #c18ccf;
    border-bottom: 2px solid #c18ccf;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

p {
    line-height: 1.6;
    color: #555;
}

ol {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}

li img {
    max-width: 100px;
    height: auto;
    border-radius: 8px;
    margin-right: 20px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

footer {
    text-align: center;
    color: #888;
}